body {
    background-image: url("../images/fabric_plaid.png");
   
}
.container {
	width: 960px;
}
header {
	background: green;
	width: 100%;
}




.myName {
	float: left;
	background-color: #4aaaa5;
}

.clear {
    clear: both;
}
.contactText{
	float: right;
}


.mypic {
	height: 200px;
	width: 200px;
}